@import '../variables';

.Info {
  position: absolute;
  bottom: 15px;
  width: 670px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  .Info__wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 27px;
    background-color: white;
    border-radius: 20px;
    font-family: $noto;
    .info__header {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .info__detail {
      h3 {
        display: flex;
        align-items: center;
        padding: 7px 0px;
        #check-icon {
          display: flex;
          align-items: center;
          margin: 3px;
          margin-top: 4px;
          margin-right: 6px;
        }
      }
    }
  }
}
