@import '../variables';

.Info {
  position: absolute;
  bottom: 15px;
  width: 670px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  .Info__wrapper {
    height: 210px;
    overflow: auto;
    margin: 0 auto;
    width: 90%;
    padding: 27px;
    background-color: white;
    border-radius: 20px;
    font-family: $noto;
    .info__header {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 20px;
      h1 {
        font-size: 23px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      button.btn {
        font-size: 15px;
        cursor: pointer;
        font-weight: 500;
        border-radius: 15px;
        padding: 8px 13px;
        margin: 0px 5px;
        &.review {
          background-color: $blue;
          color: white;
        }
        &.edit {
          background-color: white;
          color: $blue;
          border: 1px solid black;
        }
      }
    }
    .info__detail {
      h3 {
        display: flex;
        align-items: center;
        padding: 7px 0px;
        &.cleanness {
          margin-bottom: 13px;
        }
        #check-icon {
          display: flex;
          align-items: center;
          margin: 3px;
          margin-top: 4px;
          margin-right: 6px;
          color: $green;
        }
        div#xmark {
          margin: 3px;
          margin-right: 5px;
          padding: 0.3px 4.5px;
          padding-bottom: 3px;
          border-radius: 50%;
          font-size: 13px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: $red;
        }
      }
    }
    .br {
      border: 1px solid grey;
    }
    .review-wrapper {
      margin-top: 15px;
      padding-top: 20px;
      border-top: 1px solid #e2e2e2;
      .review-title {
        font-weight: 600;
        font-size: 20px;
        font-family: $noto;
      }
    }
  }
}
