@import '../variables';

.Info {
  position: absolute;
  bottom: 15px;
  width: 670px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  .Info__wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 27px;
    background-color: white;
    border-radius: 20px;
    font-family: $noto;
    .info__header {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 20px;
      h1 {
        font-size: 23px;
        font-weight: 600;
        display: flex;
        align-items: center;
      }
      button.btn {
        background-color: $blue;
        color: white;
        font-size: 15px;
        cursor: pointer;
        font-weight: 500;
        border-radius: 15px;
        border: 0.2px solid black;
        padding: 8px 13px;
        margin: 0px 5px;
      }
    }
    .info__detail {
      h3 {
        display: flex;
        align-items: center;
        padding: 7px 0px;
        #check-icon {
          display: flex;
          align-items: center;
          margin: 3px;
          margin-top: 4px;
          margin-right: 6px;
        }
        div#xmark {
          margin: 3px;
          margin-right: 5px;
          padding: 1px 5px;
          padding-bottom: 3px;
          border-radius: 50%;
          font-size: 13px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: black;
        }
      }
    }
  }
}
